<div class="card-header">{{titulo}}</div>
<table class="table table-hover table-striped" *ngIf="usuarios?.length>0">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>            
            <th>Fecha Alta</th>  
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">    
            <td>{{usuario.nombre}}</td>       
            <td>{{usuario.apellidoPaterno}}</td>
            <td>{{usuario.apellidoMaterno}}</td>            
            <td>{{usuario.fechaAlta | date: 'yyyy/MM/dd'}}</td>            
                        
        </tr>
    </tbody>
</table>
